#similars {
  padding: 0 0 45px 0;
}

.similars-title {
  color: black;
}

#similar-slider .card {
  width: 95%;
}

#similar-slider img {
  padding: 10px;
  height: 128px;
  width: 128px;
}

.rate-sm {
  height: auto;
  margin-top: -1.75px;
  padding: 0 5px 0 0;
}

.rate-sm span {
  height: 25px;
  margin: -3px 0 5px 5px;
  font-size: 1.5rem;
}

.rate-sm-container {
  margin-top: -4px;
}

#mapid {
  height: 300px;
}